.header-bar {
    background: linear-gradient(90deg, #4A90E2, #6B4EED);
    color: #fff;
    border-radius: 10px;
    padding: 0 16px;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4px;
  }
  
  .header-icon {
    cursor: pointer;
    padding: 0 12px;
    opacity: 0.8;
    transition: all 0.3s ease;
  }
  
  .header-icon:hover {
    color: #FFD700;
    opacity: 1;
  }
  
  /* Avatar bọc tròn và viền mượt */
  .header-avatar {
    border-radius: 50%;
    border: 2px solid #fff;
    transition: transform 0.2s ease;
  }
  
  .header-avatar:hover {
    transform: scale(1.1);
  }
  
  .bg-custom {
    background-color: #57ba7f; /* Màu xanh Google */
  }